/*
Menu bar - #EEEEEE
Title bar -#E0E0E0
Messages - #BDBDBD
Buttons - #FF9800
Main - #9E9E9E
*/

#label{
    -fx-background-color: #757575;
}

#main{
    -fx-background-color: #9E9E9E;
}

.button{
    -fx-background-color: #FFC107;
    -fx-border-color: #FFC107;
}